# Entorno virtual
.venv/

# Cachés de Python
__pycache__/
*.pyc

# Cachés de herramientas
.pytest_cache/
.mypy_cache/

# Archivos de macOS
.DS_Store

# Configuración de VS Code (opcional)
.vscode/

# Cobertura de pruebas (si la usas después)
.coverage
htmlcov/
